body {
    background: #422715; /* Dark chocolate background color */
    color: #fff; /* White text color */
    font-family: Arial, sans-serif; /* Fallback font */
}

.container {
    text-align: center;
    margin-top: 50px;
}

.box {
    width: 200px;
    height: 100px;
    background-color: #8B4513; /* Brown chocolate color */
    border: 2px solid #D2691E; /* Lighter brown border color */
    line-height: 100px;
    cursor: pointer;
    margin: 0 auto; /* Center horizontally */
}


.box:hover {
    background-color: #A0522D; /* Darker brown hover color */
}

#quoteContainer {
    margin-top: 20px;
}

#kitkatImg {
    margin-top: 20px;
    width: 200px;
    height: auto;
    cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .box {
    width: 150px;
    height: 75px;
    line-height: 75px;
  }
  
  #kitkatImg {
    width: 150px;
  }
}
